.avatar {
    display: block;
    position: relative;
    width: 8rem;
    max-width: 8rem;
    height: 8rem;
    max-height: 8rem;
    box-shadow: $bs4;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 50%;
    background-image: url(../img/user.svg);
    background-position: center bottom;
    background-size: 70%;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transition: box-shadow .3s;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../img/plus-add-user.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    &:hover {
        box-shadow: $bs5;
    }
}