$container: 134rem;
$headerContainer: 144rem;
$headerBreak: 62.5;

$sm: 35.5;
$md: 48;
$lg: 64;

$lineheight: 1.6666;

$padMob: 4%;

$gr1: linear-gradient(-225deg, #06408E 0%, #1C78BF 100%);
$gr2: linear-gradient(-225deg, #1D78BF 0%, #06418E 100%);
$bs1: 0 30px 40px 0 rgba(6,21,41,0.12);
$bs2: 0 1px 1px 0 rgba(0,0,0,0.12);
$bs3: linear-gradient(-225deg, rgba(#06408E, .6) 0%, rgba(#1C78BF, .6) 100%);
$bs4: 0 4px 6px 0 rgba(6,21,41,0.10);
$bs5: 0 2px 2px 0 rgba(6,21,41,0.12);
$bs6: 0 2px 2px 0 rgba(0, 0, 0, 0.10);

$c1: #fff;
$c2: #000;
$c3: #06B2DD;
$c4: #B6CCCC;
$c5: #f7f8f8;
$c6: #0D2C54;
$c7: #B6CDCD;
$c8: #fd425a;
$c9: #85929F;
$c10: #68DF0B;
$c11: #06B2DD;
$c12: #1EC4EE;
$c13: #04162E;
$c14: #EDEDED;

$c15: #F53A53;
$c16: #F49700;
$c17: #F3EA00;
$c18: #68DE0C;
$c19: #17E7A6;
$c20: #19C3EE;
$c21: #2259D9;
$c22: #D300D8;

$c23: #FBFCFC;
$c24: #E4EBEB;
$c25: #F3C24D;
$c26: #FF3F56;
$c27: #e1e5e5;
$c28: #E8EDED;
$c29: #e9f0f0;
$c30: #8894a1;
$c31: #85929F;

$c32: #60C7E1;
$c33: #8DCA5D;
$c34: #F0C946;
$c35: #EE8C39;
$c36: #D54255;
$c37: #F6339E;
$c38: #9B68F7;
$c39: #1EC4ED;



